<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" th:href="@{/logo.png}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
            name="description"
            content="Backend for hello-cylon; thymeleaf & spring boot"
    />
    <link rel="apple-touch-icon" th:href="@{/logo.png}" />
    <title>Spring Boot App</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
    <div>
        <header>
            <img th:src="@{/cylon.gif}" alt="missing"/>
            <p>
                Welcome to the Hello-Cylon Spring Boot backend!
            </p>
            <a
                    href="https://spring.io/learn"
                    target="_blank"
                    rel="noopener noreferrer"
            >
                Learn Spring
            </a>
            <a href="http://localhost:9000">Frontend</a>
        </header>
    </div>
</body>
</html>
